<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAag6a9Bxz01gSh73HpmBEVN5Di4fTw-gs</string>
	<key>GCM_SENDER_ID</key>
	<string>905943620211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.utecportal.portalutec</string>
	<key>PROJECT_ID</key>
	<string>proyectoportalutec</string>
	<key>STORAGE_BUCKET</key>
	<string>proyectoportalutec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905943620211:ios:fb8f167ccbd73531cea806</string>
</dict>
</plist>